@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(97, 97, 239);
  --color-white: rgb(255, 255, 255);
  --color-function: #a5a5a5;
  --color-operator: #f1a33c;
  --color-buttons: #333;
  --color-hover: rgba(255, 255, 255, 0.611);
  --color-operator-hover: rgba(247, 209, 160, 0.955);

  --ff-helvetica: "Helvetica Neue", sans-serif;
}
